# Files
*.pyc
*.bak

# Folders
build
dist
prof
_build
__pycache__
*.egg-info
docs/_modules

# Hidden
.*
!.gitignore
!.travis.yml
!.gitlab-ci.yml
!.codecov.yml
!.pylintrc

# Notebooks (for now...)
notebooks
