# Files
*.pyc
*.bak

# Folders
build
dist
prof
_build
__pycache__
*.egg-info
docs/_modules

# Hidden
.mypy_cache
.vscode
.hypothesis
.eggs

# Script data
scripts/components.cif

# Notebooks (for now...)
notebooks
.ipynb_checkpoints

# Python cache
.cache/
.coverage
htmlcov/
